@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
    const int MONTHROWCOUNT = 6;
    const int WEEKCOUNT = 7;
    int Count = 0;
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>6月カレンダー</title>
</head>
<body>
    <div id="container" class="text-left">
        <h1>@Model.Message</h1>
        <form asp-page-handler="prev" method="post">
            <input type="hidden" asp-for="monthInfo.prevMonth" value=@Model.DispMonth>
            <button type="submit">前月</button>
        </form>
        <form asp-page-handler="next" method="post">
            <input type="hidden" asp-for="monthInfo.nextMonth" value=@Model.DispMonth>
            <button type="submit">後月</button>
        </form>
        <table border="1" align="center" width="50%" height="100%" class="text-center">
            <tr>
                <th><font color="red">日</font></th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th><font color="blue">土</font></th>
            </tr>
            @for (int i = 0; i < MONTHROWCOUNT; i++)
            {
        <tr>
            @for (int j = 0; j < WEEKCOUNT; j++)
            {
                @if (Model.Month[Count] != 0)
                {
                    <td>
                        <form asp-page-handler="tasks" method="post">
                            <input type="hidden" asp-for="monthInfo.thisMonth" value=@Model.DispMonth>
                            <input type="hidden" asp-for="monthInfo.thisDay" value=@Model.Month[Count]>
                            <button style="background-color:white;" type="submit">@Model.Month[Count]</button>
                        </form>
                    </td>
                    }
                    else
                    {
                        <td></td>
                    }
                Count++;
            }
                </tr>
            }
        </table>
    </div>
</body>
</html>
