@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
    int MonthRowCount = 6;
    int WeekCount = 7;
    int count = 0;
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>6月カレンダー</title>
</head>
<body>
    <div id="container" class="text-left">
        <h1>@Model.Message</h1>
        <form asp-page-handler="prev" method="post">
            <input type="hidden" asp-for="monthInfo.prevMonth" value=@Model.DispMonth>
            <button type="submit">前月</button>
        </form>
        <form asp-page-handler="next" method="post">
            <input type="hidden" asp-for="monthInfo.nextMonth" value=@Model.DispMonth>
            <button type="submit">後月</button>
        </form>
        <table border="1" align="center" width="50%" height="100%" class="text-center">
            <tr>
                <th><font color="red">日</font></th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th><font color="blue">土</font></th>
            </tr>
            @for (int i = 0; i < MonthRowCount; i++)
            {
                <tr>
                @for (int j = 0; j < WeekCount; j++)
                {
                    
                        <td>
                            <form asp-page-handler="tasks" method="post">
                                <input type="hidden" asp-for="monthInfo.thisMonth" value=@Model.DispMonth>
                                <input type="hidden" asp-for="monthInfo.thisDay" value=@Model.Month[count]>
                                <button style="background-color:white;" type="submit">@Model.Month[count]</button>
                            </form>
                        </td>
                    
                    count++;
                }
                </tr>
            }
        </table>
    </div>
</body>
</html>
